@page "/addSubject"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<h3>Add Subject</h3>

@if (!createdSubjectDetails)
{
	<EditForm Model="Details" FormName="InputtedTeacherDetails">
		<label>Select Subject Coordinator</label>
		<br />
		@foreach (var teacher in allTeachers)
		{
			<span style="padding-right:15px">
				<input type="radio" name="staff" @onclick="() => SetCoordinator(teacher)" /> @teacher.Name
			</span>
		}
		<InputText @bind-Value="Details.Name" class="form-control" placeholder="Subject Name" />
		<InputNumber TValue="int?" @bind-Value="Details.Code" class="form-control" placeHolder="Subject Code" />
	</EditForm>

	<button @onclick="() => SelectDegree()" disabled="@(coordinator == null)">Attach to Degree</button>
	<button @onclick="() => SelectMajor()" disabled="@(coordinator == null)">Attach to Major</button>

	<p>@resultMessage</p>
}
else if (attachingToDegree)
{
	<input type="radio" name="type" @onclick="() => SetSubjectType(Data.DegreeSubjectType.Core)" />
	<label>Core Subject</label>
	<input type="radio" name="type" @onclick="() => SetSubjectType(Data.DegreeSubjectType.Elective)" />
	<label>Elective Subject</label>
	<br />
	<br />

	@if(subjectType != Data.DegreeSubjectType.Major)
	{
		@foreach (var degree in DegreeService.GetAllDegrees())
		{
			<label>@degree.Name</label>
			<br />
			<button @onclick="() => AttachToDegree(degree)">Attach</button>
			<br />
			<br />
		}
	}
}
else if (attachingToMajor)
{
	@foreach (var degree in DegreeService.GetAllDegrees())
	{
		foreach (var major in DegreeService.GetMajorsForDegree(degree))
		{
			<label>@major.Name</label>
			<br/>
			<button @onclick="() => AttachToMajor(major)">Attach</button>
			<br />
			<br />
		}
	}
	<p>@resultMessage</p>
}


