@page "/my-degree"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Student")]

<h3>My Degree</h3>
<p style="color:red">@enrolMessage</p>
@if (degreeViewModel == null)
{
	<p>You have not yet enrolled in a degree. Please select one now:</p>
	<fieldset>
		@foreach (var degree in availableDegrees)
		{
			<label>@degree.Name</label>
			<input type="radio" name="degree" @onclick="() => UpdateSelection(degree.Id)" />
			<p>Available subjects:</p>
			<ul>
				@foreach (var subject in degree.Subjects)
				{
					<li>
						@subject.SubjectCode - @subject.Name
					</li>
				}
			</ul>
		}
	</fieldset>
	<button @onclick="EnrolInDegree" disabled="@(selectedRadioId == 0)">Enrol</button>
}
else
{
	<p>You are currently enrolled in @degreeViewModel.Name</p>
	<h4>Available subjects:</h4>
	<ul>

	@foreach (var subject in degreeViewModel.Subjects)
	{
		<li>@subject.SubjectCode - @subject.Name</li>
	}
	</ul>
	@if (majors.Any()) // The majors list is only populated if the user has not enrolled in a major yet
	{
		<h4>You are not enrolled in a major. Please select one now.</h4>
		<h4>Available majors:</h4>
		<fieldset>
			@foreach (var major in majors)
			{
				<label>@major.Name</label>
				<input type="radio" name="major-selection" @onclick="() => UpdateSelection(major.Id)"/>
				<p>Subjects:</p>
				<ul>
					@foreach (var subject in major.subjects)
					{
						<li>@subject.SubjectCode - @subject.Name</li>
					}
				</ul>
			}
		</fieldset>
		<button @onclick="EnrolInMajor">Select</button>
	}
	else
	{
		<h4>Your major:</h4>
		<p>@userMajor.Name</p>
		<p>Subjects:</p>
		<ul>
			@foreach (var subject in userMajor.subjects)
			{
				<li>@subject.SubjectCode - @subject.Name</li>
			}
		</ul>
	}

}
