@page "/my-results"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@attribute [Authorize (Roles = "Student")]

<h3>My Results</h3>

<h4>Predicted WAM: @GetPredictedWam()</h4>
<h4>Current WAM: @GetCompletedWam()</h4>

<h4>Completed subjects</h4>
@if (!completedSubjects.Any())
{
	<p>You have not completed any subjects yet</p>
}
else
{
	@foreach (var subject in completedSubjects)
	{
		<p style="@GetResultCss(subject.State == Data.UserSubjectState.Failed)">@(subject.Name): @(subject.Mark)</p>
	}
}

<h4>Current subjects:</h4>
@if (!predictionSubjects.Any())
{
	<p>You do not have any subjects to predict.</p>
}
else
{
	@foreach (var subject in predictionSubjects)
	{
		<p>@subject.Name</p>
		<input type="number" @bind-value="@subject.Mark"/>
	}
}

